<html>
<head>
  <title>NEB Project HOMEPAGE k</title>
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-{{bokeh_version}}.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-{{bokeh_version}}.min.css"
    rel="stylesheet" type="text/css">

<script src="http://cdn.pydata.org/bokeh/release/bokeh-{{bokeh_version}}.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-{{bokeh_version}}.min.js"></script>
<style>
            .embed-wrapper {
                width: 50%;
                height: 400px;
                margin: auto;
            }
</style>
</head>
<body>

{{script|safe}}

{{div|safe}}

<script>
function open_comparison(datapoint){
	// Get state of the dropdown

	// Get datapoint ID

	// Build URL

	// Open URL
	window.open("http://127.0.0.1:5000/)
}
</script>

</body>
</html>
